.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  border-radius: 50%;
  border-style: solid;
  border-color: var(--primary) transparent transparent transparent;
  animation: spin 0.7s linear infinite;
}

.sm {
  width: 20px;
  height: 20px;
  border-width: 2px;
}

.md {
  width: 36px;
  height: 36px;
  border-width: 3px;
}

.lg {
  width: 52px;
  height: 52px;
  border-width: 4px;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
